<div class="container-general">

  <div class="container-ingredientes">

    <h1>Ingredientes</h1>

    <div class="lista-ingredientes">

      <div>
        <h3>Alcoholes</h3>
        <ng-container *ngFor="let ingrediente of listaIngredientes">

          <mat-checkbox [(ngModel)]="ingrediente.checked" *ngIf="ingrediente.isAlcohol"
            (change)="seleccionIngrediente()">{{ingrediente.nombre}}</mat-checkbox>

        </ng-container>

      </div>

      <div>
        <h3>Mezclas</h3>
        <ng-container *ngFor="let ingrediente of listaIngredientes">
          <mat-checkbox [(ngModel)]="ingrediente.checked" *ngIf="!ingrediente.isAlcohol"
            (change)="seleccionIngrediente()">{{ingrediente.nombre}}</mat-checkbox>
        </ng-container>
      </div>

    </div>

  </div>

  <div class="container-cocktails">

    <h1>Cocktails</h1>

    <div class="lista-cocktails">

      <ng-container *ngFor="let cocktail of listaCocktails">

        <div class="cocktail">

          <h3>{{cocktail.nombre}}</h3>

          <img [src]="'/assets/cocktails/' + cocktail.nombre + '.png'" (click)="abrirReceta(cocktail.link)">

          <div class="ingredientes">
            <ng-container *ngFor="let ingrediente of cocktail.ingredientes">
              <span>{{ingrediente.cantidad}} {{ingrediente.isLiquid ? 'ml' : ''}} de {{ingrediente.nombre}}</span>
            </ng-container>
          </div>

        </div>

      </ng-container>

    </div>

  </div>

</div>